* {
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana;
}

#contenedor {
    margin: 5% auto;
    height: 580px;
    width: 100%;
}

#MetText {
    margin-top: 170px;
}

#BrunoText{
    margin-top: 70px;
    margin-left: ?px;
}

#imgMet {
    width: 300px;
    margin-top: 70px;
}#fix{
width:500px !important;
height:400px !important;
}
.cardPerson{
    display: flex !important;
    flex-direction: row !important;
    min-width: 50pc !important;
}