{% extends "layout.html" %}

{% block contingut %}
<body>
    <div class="container">
        <div>
            <h2 style="text-align:center">Taylor swift y su nuevo Álbum </h2>
            <p style="text-align:center">Midnights, que saldrá a la venta el 21 de octubre, es su primer disco nuevo desde Folklore y Evermore, de 2020, y su décimo álbum de estudio.</p>
        </div>
        <div>
            <img src="../static/images/Midnights.jpg" class="rounded float-start" alt="TF-Midnights">
        </div>
    </div>
</body>
{% endblock %}