{% extends "layout.html" %}

{% block contingut %}
<body>
    <div class="container">
        <div>
            <h2>La performance de BTS entre las mejores de los Grammy</h2>
            <p>No solo de la edición 2022, sino de toda la historia de los premios. La performance de BTS fue considerada una de las mejores que jamás se han visto en los Grammy, conforme Rolling Stone. Ocupó el puesto 13 de 25.</p>
        </div>
        <div>
            <img src="BTSG.jpg" class="rounded float-start" alt="BTSGrammy" width="500" height="300" >
            </audio>
        </div>
    </div>
</body>
{% endblock %}