
{% extends "layout.html" %}

{% block contingut %}
 <div class="contenedor">
    <div class="d-flex d-flex justify-content-center vh-90">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="6000">
            <img src="../static/images/Nightwish.jpg" width="600px" height="400px"  alt="Nightwish"/>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-white">Nightwish</h5>
              <p class="text-white">En Barcelona el 20 de Enero de 2023</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <img src="../static/images/BTS.jpg"  width="500px" height="400px"  alt="BTS">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-white">BTS</h5>
              <p class="text-white">En Barcelona el 2 de Febrero de 2023</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <img src="../static/images/BrunoMars.jpg"  width="400px" height="400px"  alt="BrunoMars">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-black">Bruno Mars</h5>
              <p class="text-black">En Barcelona el 4 de Junio de 2023</p>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

{% endblock %}
