{% extends "layout.html" %}

{% block contingut %}
<body>
    <div class="container">
        <div>
            <h2 style="text-align:center">Nightwish y su sencillo nominado </h2>
            <p style="text-align:center" >Nightwish lanzó su sencillo titulado Nemo en el 2004, el cual fué nominado al Premio Kerrang! al Mejor Sencillo.</p>

            <img src="../static/images/NW-Nemo.jpg" class="rounded float-start" alt="NW-Nemo"/>
            <audio src="../static/audio/Nemo.mp3" controls="controls" type="audio/mpeg" preload="preload"/>

        </div>
    </div>
</body>
{% endblock %}