{% extends "layout.html" %}

{% block contingut %}
<body>
    <div class="container">
        <div>
            <h2>Nightwish y su sencillo nominado </h2>
            <p>Nightwish lanzó su sencillo titulado Nemo en el 2004, el cual fué nominado al Premio Kerrang! al Mejor Sencillo.</p>
        </div>
        <div>
            <img src="NW-Nemo.jpg" class="rounded float-start" alt="NW-Nemo">
            <audio src="Nemo.mp3" controls="controls" type="audio/mpeg" preload="preload">
            </audio>
        </div>
    </div>
</body>
{% endblock %}