{% extends "layout.html" %}

{% block contingut %}
<body>
    <div class="container">
        <div>
            <h2>Otros artistas</h2>
            <p>En los siguientes enlaces podrás acceder a diferentes artistas:</p>
            <img src="BrunoMars.jpg" class="rounded float-start" alt="BTSGrammy">
            <h4 id="BrunoText">Bruno Mars</h4>
            <a href="https://es.wikipedia.org/wiki/Bruno_Mars" class="link-primary">Peter Gene Hernandez</a>
            <a>, conocido artísticamente como Bruno Mars, es un cantante, compositor, productor musical y bailarín
                estadounidense.</a>
        </div>
        <div id="MetText">
            <h4>Metallica</h4>
            <a href="https://es.wikipedia.org/wiki/Metallica" class="link-primary">Metallica</a>
            <a> es un grupo estadounidense de thrash metal originado de Los Ángeles, pero con base en San Francisco
                desde febrero de 1983. Fue fundada en 1981 en Los Ángeles por Lars Ulrich y James Hetfield, a los que se
                les unirían Dave Mustaine y Ron McGovney.</a>
            <img id="imgMet" src="Metallica.jpg" class="rounded float-start" alt="Metallica">
        </div>
    </div>
</body>
{% endblock %}