{% extends "layout.html" %}

{% block contingut %}
<body>
    <div id="container">
            <h2 class="titlePerson" style="font-size:80px">Shop </h2>
        <div class="cardPerson">
            <div class="card cards" style="width: 18rem; " >
                <img src="../static/images/AlBTS.jpg" class="card-img-top" alt="AlBTS">
                <div class="card-body">
                    <h5 class="card-title">Álbum Proof</h5>
                    <h3>BTS</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
            <div class="card cards" style="width: 18rem; " >
                <img src="../static/images/brun.jpg" class="card-img-top" alt="AlBTS">
                <div class="card-body">
                    <h5 class="card-title">Álbum 24K Magic</h5>
                    <h3>Bruno Mars</h3>
                    <p class="card-text">The 24K Magic Vinyl here features a vinyl version of the Bruno Mars album ‘24K Magic’ pressed on gold vinyl. Tracklist - 1. 24K Magic 2. Chunky 3. Perm 4. That’s What I Like 5.   </p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
        </div>
</body>
{% endblock %}